body {
  background-color: var(--azul-fraco);
}

.img-container {
  width: 38.4rem;
}

.img-container img {
  width: 100%;
}

.titulo-personalizado{
  font-family: var(--fonte-principal);
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
