.avaliacao {
    display: flex;
    width: auto;
}

.star-icon {
    list-style-type: none;
    margin-bottom: 1.2rem;
    border: 1px solid #fff;
    cursor: pointer;
    color: #ff9900;
    font-size: 30px;
}

.star-icon::before {
    content: "\2605";
}

.star-icon.ativo~.star-icon::before {
    content: "\2606";
}

.avaliacao:hover .star-icon::before {
    content: "\2605";
}

.star-icon:hover~.star-icon::before {
    content: "\2606";
}