.menu-usuario {
  max-width: 43.5rem;
}

.menu-usuario .opcoes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.2rem;
}

.titulo-principal {
  font-family: var(--fonte-principal);
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  color: var(--preto);
  margin-bottom: 2.3rem;
}

.card-opcao {
  background-color: var(--branco-primario);
  border: .05rem solid var(--cinza);
  border-radius: .4rem;
  padding: 1.4rem;
  min-width: 18.3rem;

  display: flex;
  align-items: center;
}

.card-opcao:hover {
  transition: all .3s;
  cursor: pointer;
  background-color: var(--azul-btn-hover-1);
}

.container-imagem {
  background-color: #D4E4FA;
  border-radius: 50%;
  height: 3.8rem;
  margin-right: 1.2rem;
  width: 3.8rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container-imagem img {
  width: 2.5rem;
}

.card-opcao p {
  font-family: var(--fonte-principal);
  color: var(--preto);
  font-size: 1.4rem;
  font-weight: 500;
}

@media (max-width: 425px) {
  .menu-usuario {
    padding: 1.6rem;
  }

  .titulo-principal {
    text-align: start;
  }

  .card-opcao {
    min-width: 32rem;
  }
}