body{
  font-family: Verdana;
}

  footer{
    position: absolute;/*ajusta a orizontal do rodapé com o final da tela*/
    width: 100%;/* garante que o tamanho do rodapé se ajuste até o final da tela*/
    height: 16vh;/*altura do rodapé*/
    bottom: 0;/* força o rodapé descer até no final da parte inferior da tela*/
    background-color: aliceblue;
    /*background-color: aqua;*/
  }

  .logo-roda-pe{
    position: absolute;
    right: 80%;
    bottom: 20px;
  }

  .links{
    position: absolute;
    bottom: 40px;
    left: 30%;
  }

  .link-rodape{
    text-decoration: none;
    margin-right: 30px;/*ajusta o afastamento orizontal consumindo o espaço p/ esqueda*/
    white-space: nowrap; /* Impede quebra de linha */
  }

  .redes-sociais{
    position: absolute;
    bottom: 20px;
    left: 80%;
  }
  .icon-rede-social{
    margin-left: 20px;
  }