.fomulario-adicionando-cartao form {
  align-self: center;
  height: 37rem;
  font-family: var(--fonte-principal);
  color: var(--preto);
}

.dados-cartao {
  align-self: flex-start;
  width: 43rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#mes-expiracao {
  margin-right: 2.4rem;
}

#mes-expiracao, #ano-expiracao, #cvc {
  width: 8.2rem;
}

.botoes a, .botoes button{
  border-radius: 2.4rem;
  font-size: 1.4rem;
  font-weight: 500;
  padding: .6rem 1rem;
}

.btn-cancelar {
  background-color: var(--azul);
  color: var(--branco-primario);
  margin-right: 2rem;
}

.btn-cancelar:hover {
  transition: all .3s;
  background-color: var(--azul-btn-hover-1);
}

.btn-adicionar-cartao {
  background-color: transparent;
  color: var(--azul);
  border: .1rem solid var(--azul);
}

.btn-adicionar-cartao:hover {
  transition: all .3s;
  cursor: pointer;
  background-color: var(--azul-btn-hover);
}

@media (max-width: 425px) {
  main {
    padding: 1.2rem;
  }
  .fomulario-adicionando-cartao {
    padding: .8rem;
    border-radius: .8rem;
  }

  .fomulario-adicionando-cartao form {
    padding: .8rem;
    width: 90%;
  }

  .fomulario-adicionando-cartao .titulo h1 {
    font-size: 1.6rem;
  }

  .campo label {
    font-size: 1.4rem;
  }

  .dados-cartao {
    width: 100%;
  }
}