@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap');

:root {
  --azul-btn-hover: #D4E4FA;
  --azul-btn-hover-1: #5595E9;
  --azul-fraco: #EAF2FD;
  --azul: #2A7AE4;
  --preto: #464646;
  --branco-secundario: #F5F5F5;
  --branco-primario: #FFFFFF;
  --cinza: #A2A2A2;
  --verde: #007600;
  --vermelho: #DD0000;
  --fonte-principal: 'Raleway', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}


