/*Estilização global do cabeçalho*/
.cabecalho {
  background-color: var(--branco-primario);
  padding: 2rem 9.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cabecalho-simples {
  background-color: var(--branco-primario);
  justify-content: center;
}

/*Estilização especifica do cabeçalho*/
.box-search {
  background-color: var(--branco-primario);
  border-radius: 1.25rem;
  padding: 0.5rem 1rem;

  display: flex;
  align-items: center;

  border: .05px solid;
  border-color: var(--cinza);
}

.box-input {
  width: 20.625rem;
  margin-right: .5rem;
  border: none;
  outline: 0;

  font-family:var(--fonte-principal);
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--preto);
}

::-webkit-input-placeholder {
  color: var(--cinza);
  font-family: (--fonte-principal);
  font-size: 1.4rem;
}

.button-search {
  border: none;
  background-color: none;
}

.button-search:hover {
  transition: .3s all;
  cursor: pointer;
}

.button-login {
  background-color: transparent;
  border: .2rem solid var(--azul);
  color: var(--azul);
  font-family: var(--fonte-principal);
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  padding: 1rem 4.375rem;
}

.button-login:hover {
  transition: all .3s;
  cursor: pointer;
  background-color: var(--azul-btn-hover);
}

/*Estilização específica para o cabecalho do cliente*/
.opcoes {
  width: 25rem;
  display: flex;
  justify-content: space-between;
}

#carrinho-compras {
  position: relative;
}

.item {
  background-color: transparent;
  padding: .6rem;
  text-align: center;
}

.item:hover {
  transition: all .3s;
  cursor: pointer;
  background-color: var(--azul);
}

.item:hover > a > .produtos-carrinho > .quantidade,  .item:hover > a > .produtos-carrinho > .simbolo-mais {
  transition: all .3s;
  color: var(--branco-primario);
}

.item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  align-items: center;
}

.item a img {
  width: 3.6rem ;
}

.identificador {
  color: var(--preto);;
  font-size: 1.2rem;
  font-family: var(--fonte-principal);
  font-weight: 500;
  margin-top: .4rem;
}

.produtos-carrinho {
  display: none;
  position: absolute;
  top: .5rem;
  left: 2.6rem;
}

.quantidade, .simbolo-mais {
  color: var(--azul);
  font-family: var(--fonte-principal);
  font-weight: 700;
  font-size: 1.6rem;
}

.simbolo-mais {
  display: none;
  position: absolute;
  top: -.7rem;
  right: -.7rem;
  font-size: 2rem;
}

/*Estilização do menu Suspenso*/
.menu-list {
  display: none;
  background-color: var(--azul-btn-hover); 
  position: absolute;
  top: 11rem;
  right: 25rem;
  box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.1);
  list-style-type: none;
  padding: .8rem 1.2rem;
  width: 9rem; 
  z-index: 1;
}

.menu-list::before {
  content: "";
  position: absolute;
  top: -.8rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  background-color: var(--azul-btn-hover);
  transform: rotate(45deg);
}

.menu-list ul {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.menu-list a {
  text-decoration: none;
  color: var(--preto);
  font-family: var(--fonte-principal);
  font-size: 1.4rem; 
  font-weight: 500;
}

.menu-list a:hover {
  transition: all .5s;
  text-decoration: underline;
}

.ativo {
  transition: all .5s;
  display: block;
}

@media (max-width: 425px)  {

  .cabecalho {
    align-items: flex-start;
    padding: 1.6rem;
    height: 12rem;
  }

  .cabecalho-simples {
    height: auto;
  }

  .logo {
    width: 10rem;
    height: 2.8rem;
  }

  .box-search {
    position: absolute;
    top: 7rem;
    width: 93vw;
    justify-content: space-between;
  }

  .button-login, #cadastro {
    padding: 1rem 1.3rem;
  }

  /*Estilização do header autenticado*/
  .opcoes {
    width: auto;
    column-gap: 1rem;
  }

  .item a img {
    width: 2.6rem;
  }

  .identificador {
    display: none;
  }

}