/* Estilização da section livro */
.livro {
  background-color: var(--branco-secundario);
  padding: 6.4rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.detalhes-produto {
  max-width: 55.5rem;
  margin-left: 3.2rem;
}

.livro-destaque {
  width: 53rem;
  height: 40.3rem;
  display: flex;
  justify-content: center;
}

.nome-livro {
  font-size: 4.8rem;
  font-weight: 500;
}

.disponibilidade {
  color: var(--verde);
  font-family: var(--fonte-principal);
  margin-top: .8rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.botoes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 29.5rem;
}

.botoes button {
  font-family: var(--fonte-principal);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1.2rem 1.6rem;
  border: .2rem solid transparent;
  margin-top: .8rem;
}

.botoes button.comprar-agora {
  background-color: transparent;
  color: var(--azul);
  border-color: var(--azul);
}

.botoes button.comprar-agora:hover {
  transform: all .3s;
  background-color: var(--azul-btn-hover);
  cursor: pointer;
}

.botoes button.adicionar-carrinho {
  background-color: var(--azul);
  color: var(--branco-primario);
}

.botoes button.adicionar-carrinho:hover {
  transform: all .3s;
  background-color: var(--azul-btn-hover-1);
  cursor: pointer;
}

/*Fim da estilização da section livro*/

.lista-livros {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6.4rem;
}

.lista-livros:last-child {
  margin-bottom: 0rem;
}

.card-livro {
  width: 17.6rem;
  height: 25.2rem;
}

.banner {
  width: 100%;
  height: 17.4rem;
  display: flex;
  justify-content: center;
}

.imagem {
  height: 100%;
}

.titulo-livro, .preco, .nome-livro, .sinopse {
  color: var(--preto);
  font-family: var(--fonte-principal);
  margin-top: .8rem;
}

.titulo-livro, .sinopse {
  font-size: 1.4rem;
  font-weight: 500;
}

.preco {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: .8rem;
}

.nota{
  font-size: 2.6rem;
  font-weight: bold;
}

.ver-produto {
  font-family: var(--fonte-principal);
  color: var(--azul);
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
}

/*Estilização das sections do main*/
.categorias-livros {
  padding: 6.4rem 9.5rem;
  background-color: var(--branco-secundario);
  display: flex;
  flex-direction: column;
}

.informacoes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}

.titulo {
  color: var(--preto);
  font-family: var(--fonte-principal);
  font-size: 3.2rem;
  font-weight: 700;
}

.btn-ver-mais {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 9.8rem;
  color: var(--azul);
  font-family: var(--fonte-principal);
  font-size: 2.4rem;
  font-weight: 700;
}

.btn-ver-mais:hover {
  transition: all .3s;
  cursor: pointer;
}

@media (max-width: 425px) {
  .categorias-livros {
    padding: 1.6rem;
  }

  .titulo {
    font-size: 2.2rem;
  }

  .lista-livros {
    flex-wrap: wrap;
    row-gap: 1.6rem;
  }

  .card-livro {
    width: 15.6rem;
  }
}