.menu-list {
    display: none; 
    position: absolute;
    background-color: #fff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    padding: 10px;
    width: 90px; 
    max-height: 300px; 
    margin: 0;
    z-index: 1; 
  }
  
  .menu-list li {
    margin-bottom: 10px;

  }
  
  .menu-list a {
    text-decoration: none;
    color: var(--preto);
    font-family: var(--fonte-principal);
    font-size: 11px; 
  }
  
  