.menu-list {
    display: none; /* Inicialmente oculta */
    position: absolute;
    background-color: #fff; /* Cor de fundo do menu */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
    list-style-type: none;
    padding: 10px;
    width: 90px; /* Ajuste a largura conforme necessário */
    max-height: 300px; /* Ajuste a altura máxima conforme necessário */
    margin: 0;
    z-index: 1; /* Garante que o menu apareça acima de outros elementos */
  }
  
  .menu-list li {
    margin-bottom: 10px;

  }
  
  .menu-list a {
    text-decoration: none;
    color: var(--preto);
    font-family: var(--fonte-principal);
    font-size: 11px; 
  }
  
  