.lista-livros {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6.4rem;
}

.lista-livros:last-child {
  margin-bottom: 0rem;
}

.card-livro {
  width: 17.6rem;
  height: 25.2rem;
}

.banner {
  width: 100%;
  height: 17.4rem;
  display: flex;
  justify-content: center;
}

.imagem {
  height: 100%;
}

.titulo-livro, .preco {
  color: var(--preto);
  font-family: var(--fonte-principal);
  margin-top: .8rem;
}

.titulo-livro {
  font-size: 1.4rem;
  font-weight: 500;
}

.preco {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: .8rem;
}

.ver-produto {
  font-family: var(--fonte-principal);
  color: var(--azul);
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
}

/*Estilização das sections do main*/
.categorias-livros {
  padding: 6.4rem 9.5rem;
  background-color: var(--branco-secundario);
  display: flex;
  flex-direction: column;
}

.informacoes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}

.titulo {
  color: var(--preto);
  font-family: var(--fonte-principal);
  font-size: 3.2rem;
  font-weight: 700;
}

.btn-ver-mais {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 9.8rem;
  color: var(--azul);
  font-family: var(--fonte-principal);
  font-size: 2.4rem;
  font-weight: 700;
}

.btn-ver-mais:hover {
  transition: all .3s;
  cursor: pointer;
}